#{extends 'main.html' /} #{set title:'Cadastro de Tarefas' /}

<meta charset="utf-8">

<form action="@{Tarefas.salvar}" method="POST">

	<input type="hidden" name="task.id" value="${task?.id}">
	<input type="hidden" name="usu.id" value="${usu?.id}">
	
	<div class="form-group">
		<label for="exampleInputTitulo"><h4 class="h4 text-blue">Título:</h4></label>
		<input type="text" class="form-control" id="exampleInputTitulo"
			aria-describedby="tituloHelp" placeholder="Digite o título"
			name="task.titulo" value="${task?.titulo}">
	</div>

	<div class="form-group">
		<label for="exampleInputPrazo"><h4 class="h4 text-blue">Prazo:</h4></label>
		<input type="date" class="form-control" id="exampleInputPrazo"
			aria-describedby="prazoHelp" placeholder="___/___/___"
			name="task.prazo" value="${task?.prazo}">
	</div>

	<h4 class="h4 text-blue">Tipo de Tarefa:</h4>
	<div class="input-group mb-3">
		<select name="task.tipoTarefa" class="custom-select"
			id="inputGroupSelect03"
			aria-label="Exemplo de select com botão addon">
			<option>Escolher...</option>
			 #{list items: tipoTarefas, as:'tipo'}
			<option #{if task?.tipoTarefa == tipo} selected #{/if}>${tipo}</option> 
			#{/list}
		</select>
	</div>

	<h4 class="h4 text-blue">Anotação</h4>
	<textarea class="textarea_editor form-control border-radius-0 "
		placeholder="Enter text ..." name="task.anotacao"
		value="${task?.anotacao}"></textarea>
	<br />

	<div class="row">
		<div class="col-sm-12">
			<div class="input-group mb-0">
				<!--
											use code for form submit
											<input class="btn btn-primary btn-lg btn-block" type="submit" value="Sign In">
																					-->

			
				<button class="btn btn-primary btn-lg btn-block" >Salvar</button>
				
			</div>
		</div>
	</div>
</form>
